.about {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: $overall-grid;
  align-items: center;
  background-color: $dark;
  padding-bottom: 10rem;

  &::before {
    content: '';
    height: 10rem;
    grid-column: col-start 1 / col-end 8;
  }

  &__container {
    grid-column: col-start 1 / col-end 8;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, auto));
    row-gap: 1.5rem;
    align-items: center;

    .about__image {
      display: grid;
      grid-template-columns: 3rem auto 3rem;
      grid-template-rows: 3rem min-content 3rem;
      // margin: auto;
      // grid-column: 1 / 2;
      width: 25rem;
      img {
        grid-column: 1/3;
        grid-row: 2/4;
        z-index: 1;
        transition: all 1s ease-in-out;

        // grid-column: 2/4;
        // grid-row: 1/3;
        // z-index: 1;
      }
      &--animate {
        transform: translate(3rem, -3rem);
      }
      &--border {
        content: '';
        height: 100%;
        width: 100%;
        border: 5px solid $primary;
        grid-column: 1/3;
        grid-row: 2/4;
      }
    }

    .about__content {
      &__title {
        position: relative;
        display: inline-block;
        &::before {
          @include underline;
          width: 60%;
          // left: 50%;
          // transform: translate(-50%);
        }
      }
      &__p {
        width: 80%;
      }

      .btn {
        margin-right: 1.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
      // max-width: 80%;
      // grid-column: 2/4;
    }
  }
}

// .about {
//   background-color: $light;
//   .container {
//     padding: 100px 20px;
//   }
//   .aboutimage {
//     display: grid;
//     grid-template-columns: repeat(8, 2.5rem);
//     grid-template-rows: repeat(12, 2.5rem);
//     img {
//       object-fit: fill;
//       height: 100%;
//       width: auto;
//       grid-column: 2/9;
//       grid-row: 1/12;
//       z-index: 1;
//     }
//     .imageborder {
//       content: '';
//       height: 100%;
//       width: 100%;
//       border: 5px solid $primary;
//       grid-column: 1/8;
//       grid-row: 2/13;
//     }
//   }

//   h3::before {
//     @include underline;
//     width: 50%;
//   }

//   @media (max-width: 767px) {
//     h3::before {
//       left: 25%;
//     }
//   }

//   .aboutcontent {
//     flex-basis: 40%;
//     margin-left: 100px;
//     // align-self: center;
//     button:nth-of-type(2) {
//       margin-top: 15px;
//       margin-left: 10px;
//       background-color: transparent;
//       border: 2px solid $primary;
//       color: $primary;
//     }
//   }
// }
