.contact {
  background-color: $light;
  display: grid;
  grid-template-columns: $overall-grid;
  grid-column: full-start/full-end;
  // justify-items: center;
  padding-bottom: 10rem;

  &::before {
    content: '';
    height: 10rem;
    grid-column: col-start 1 / col-end 8;
  }

  &__title {
    grid-column: col-start 1 / col-end 8;
    justify-self: center;
    display: inline-block;
    &::before {
      @include underline;
      width: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    grid-column: col-start 1 / col-end 8;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
    row-gap: 5rem;
    &__info {
      // width: 30%;
      h6 {
        margin-bottom: 2rem;
      }
      p {
        margin-bottom: 3rem;
        display: flex;
      }
      svg {
        width: 2.5rem;
        height: 2.5rem;
        fill: $secondary;
        align-self: center;
        margin-right: 1rem;
      }
    }
  }
}

// .contact {
//   background-color: $light;
//   grid-column: full-start/full-end;

//   h3 {
//     text-align: center;
//     display: inline-block;
//   }

//   h3::before {
//     @include underline;
//     width: 50%;
//     left: 25%;
//   }
//   .contactcontent {
//     display: flex;
//     justify-content: center;
//     margin-top: 50px;
//     button {
//       width: 100%;
//     }
//   }
//   .contactinfo {
//     // margin-right: 50px;
//     text-align: start;
//     h6 {
//       margin-bottom: 10px;
//     }
//     p {
//       margin-bottom: 30px;
//     }
//   }
// }

// @media (max-width: 768px) {
//   .contactinfo {
//     h6 {
//       text-align: center;
//     }
//   }
// }
