.contact {
  background-color: $light;
  .container {
    padding: 100px 20px;
    flex-direction: column;
  }
  h3 {
    text-align: center;
    display: inline-block;
  }

  h3::before {
    @include underline;
    width: 50%;
    left: 25%;
  }
  .contactcontent {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    button {
      width: 100%;
    }
  }
  .contactinfo {
    // margin-right: 50px;
    text-align: start;
    h6 {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 768px) {
  .contactinfo {
    h6 {
      text-align: center;
    }
  }
}
