.footer {
  background-color: $light;
  //   max-height: 400px;
  //   padding-top: 100px;
  .container {
    flex-direction: column;
    align-items: center;
    padding: 100px 30px;
  }
  .logo {
    margin-bottom: 50px;
  }

  .social {
    display: flex;
    margin-bottom: 50px;
  }

  .socialcircle {
    display: flex;
    background-color: $dark;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    svg {
      fill: $secondary;
    }
  }

  .copyright {
    display: flex;
    padding: 30px;
    // height: 100px;
    justify-content: center;
    align-self: center;
    border-top: 1px solid rgba($color: $light-gray, $alpha: 0.2);
    p {
      margin: 0;
      font-size: 14px;
    }
    span {
      color: $primary;
    }
  }
}
