.hero {
  grid-column: full-start/full-end;
  // background-color: $dark;
  background-image: url('../../images/herobg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: $overall-grid;
  align-items: center;

  &__cta {
    grid-column: col-start 1 / col-end 8;
  }

  &--gert {
    font-size: 50rem;
    overflow: hidden;
  }
}
