.hero {
  grid-column: full-start/full-end;
  background-color: $dark;
  display: grid;
  grid-template-columns: $overall-grid;
  align-items: center;

  &__cta {
    grid-column: col-start 1 / col-end 8;
  }
}
