.nav {
  width: 100%;
  // position: sticky;
  position: fixed;
  z-index: 2;
  background-color: $dark;
  //   height: 100px;
  color: $secondary;
  .container {
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    font-size: 1.2rem;
    font-weight: 500;
    span {
      position: relative;
      margin-left: 30px;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
      &:hover::before {
        transform-origin: left top;
        transform: scale(1, 1);
      }
      &:first-child {
        margin-left: 0;
      }
    }
    span::before {
      @include underline;
      width: 60%;
      transform-origin: right top;
      transform: scale(0, 1);
      transition: color 0.1s, transform 0.2s ease-in-out;
    }
  }
}

@media (max-width: 500px) {
  .menu {
    font-size: 1rem !important;
    display: flex;
    justify-items: center;
    margin-bottom: 10px;
  }
}

//JS

.light {
  background-color: $light;
}
