.nav {
  background-color: $dark;
  position: sticky;
  top: 0;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: $overall-grid;
  align-items: center;
  z-index: 10;

  .logo {
    grid-column: col-start 1 / col-end 2;
    justify-self: start;
  }
  .menu {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    column-gap: 2rem;
    grid-column: col-start 3 / col-end 8;
    justify-self: end;

    &__button:link,
    &__button:visited {
      text-decoration: none;
      color: $secondary;
      font-size: 1.6rem;
      position: relative;
    }
    &__button::before {
      @include underline;
      transform-origin: right top;
      transform: scale(0, 1);
      transition: color 0.1s, transform 0.2s ease-in-out;
      width: 60%;
    }

    &__button:hover {
      color: $primary;
      &::before {
        transform-origin: left top;
        transform: scale(1, 1);
      }
    }
    &__button--active {
      color: $primary !important;
      &::before {
        transform-origin: left top;
        transform: scale(1, 1);
      }
    }
  }
}

//JS

.light {
  background-color: $light;
}
