.portfolio {
  background-color: $light;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: $overall-grid;
  justify-items: center;
  padding-bottom: 10rem;

  &::before {
    content: '';
    height: 10rem;
    grid-column: col-start 1 / col-end 8;
  }

  &__head {
    grid-column: col-start 1 / col-end 8;
    text-align: center;
    &__title {
      display: inline-block;
      &::before {
        @include underline;
        width: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__main {
    grid-column: col-start 3 / col-end 6;
    &--info {
      margin-bottom: 3rem;
    }
    &--experience {
      p {
        margin-bottom: 0;
      }
    }
    .btn {
      margin-top: 3rem;
    }
    // display: grid;
    // width: 50%;
    // // height: 100%;
    // grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
    // // grid-template-rows: repeat(auto-fit, minmax(20rem, auto));
    // grid-auto-flow: dense;
    // grid-gap: 1.5rem;

    // &--featured {
    //   // grid-row: 1/3;
    //   content: '';
    //   width: 100%;
    //   min-height: 20rem;
    //   border: 1px solid $primary;
    // }

    // &--images {
    //   display: grid;
    //   grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
    //   grid-gap: 1.5rem;
    // }

    // &--image {
    //   content: '';
    //   width: 100%;
    //   height: 10rem;
    //   border: 1px solid $primary;
    // }
  }
}

// .portfolio {
//   background-color: $dark;
//   grid-column: full-start/full-end;

//   .head {
//     text-align: center;
//   }
//   h3 {
//     display: inline-block;
//   }
//   h3::before {
//     @include underline;
//     width: 50%;
//     left: 25%;
//   }

//   .featuredimage {
//     content: '';
//     width: 208px;
//     height: 208px;
//     border: 1px solid $primary;
//     //   grid-column: 1/7;
//     //   grid-row: 1/7;
//   }

//   .gridimage1 {
//     content: '';
//     width: 100px;
//     height: 100px;
//     border: 1px solid $primary;
//     margin-right: 8px;
//     // grid-column: 7/10;
//     // grid-row: 1/4;
//   }
//   .gridimage2 {
//     content: '';
//     width: 100px;
//     height: 100px;
//     border: 1px solid $primary;
//     // grid-column: 10/13;
//     // grid-row: 1/4;
//   }

//   .gridimage3 {
//     content: '';
//     width: 100px;
//     height: 100px;
//     border: 1px solid $primary;
//     margin-right: 8px;
//     // grid-column: 7/10;
//     // grid-row: 4/7;
//   }
// .gridimage4 {
//   content: '';
//   width: 100px;
//   height: 100px;
//   border: 1px solid $primary;
// grid-column: 10/13;
// grid-row: 4/7;
// }

//   .imagegrid {
//     display: grid;
//     grid-template-columns: repeat(12, 2rem);
//     grid-template-rows: repeat(6, 2rem);
//     gap: 20px;
//     // .featuredimage {
//     //   content: '';
//     //   border: 1px solid $primary;
//     //   //   grid-column: 1/7;
//     //   //   grid-row: 1/7;
//     // }

//   }
// }
