$primary: #7bc043;
$secondary: #c8dfe1;
$light-gray: #7f8c8d;
$dark: #343b43;
$light: #3c454e;

$overall-grid: [full-start]minmax(1.5rem, 1fr)
  repeat(8, [col-start] minmax(auto, 14rem) [col-end]) minmax(1.5rem, 1fr)
  [full-end];

@mixin underline {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  height: 5px;
  background-color: $primary;
}

body,
html {
  font-family: 'Poppins';
  scroll-behavior: smooth;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: 700;
  font-size: 1.8rem;
  color: $secondary;
  margin-top: 1rem;
}

.skills__icons {
  height: 4rem;
  width: 4rem;
  margin-right: 0.5rem;
}

.reactjs {
  fill: #61dbfb;
}

.container {
  position: relative;
  display: grid;
  grid-template-rows: auto 90vh repeat(4, min-content);
  grid-template-columns: $overall-grid;
  & > * {
    padding: 2rem 1rem;
  }
}

.btn {
  padding: 1rem;
  width: 15rem;
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid $primary;
  font-family: 'Poppins';
  transition: all 0.1s ease-out 0s;
  outline: none;

  &:focus,
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.2);
  }
  &:active {
    transform: translateY(1px);
    box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: 0.2);
    outline: none;
  }
  &--solid {
    background-color: $primary;
    color: $secondary;
  }
  &--outlined {
    background-color: transparent;
    color: $primary;
  }
  &--disabled {
    &:hover,
    &:focus {
      transform: none;
      box-shadow: none;
    }
    &:active {
      transform: none;
      box-shadow: none;
    }
    background-color: lighten($color: $primary, $amount: 30);
    outline: none;
    color: $dark;
  }
}

label {
  color: $light-gray;
  text-transform: uppercase;
}

.logo {
  color: $primary;
  font-weight: 500;
  font-size: 4rem;
}

.form {
  color: $light-gray;
  font-size: 1.2rem;
  &__row {
    width: 100%;
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 1.5rem;
    margin-bottom: 3rem;
    &:last-child {
      margin-right: 0;
    }
    input,
    textarea {
      margin-top: 1rem;
      width: 100%;
      background-color: $dark;
      border: none;
      border-radius: 5px;
      padding: 1.5rem;
      color: $secondary;
      font-family: 'Poppins';
    }
    input::placeholder,
    textarea::placeholder {
      color: $light-gray;
      font-size: 1.2rem;
    }
  }

  &__group {
    display: flex;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
