@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('tff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype');
}

// @font-face {
//   font-family: 'Poppins';
//   font-weight: 500;
//   src: url('./fonts/Poppins-Medium.ttf') format('tff');
// }

// @font-face {
//   font-family: 'Poppins';
//   font-weight: 300;
//   src: url('./fonts/Poppins-Light.ttf') format('tff');
// }
