h1 {
  color: $primary;
  font-size: 10rem;
  font-weight: 500;
}

h3 {
  font-size: 1.8rem;
  color: $secondary;
  margin-bottom: 2rem;
}

h2 {
  position: relative;
  color: $secondary;
  margin-bottom: 3rem;
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
  color: $secondary;
  // margin-bottom: 2rem;
}

h5 {
  font-size: 1.8rem;
  color: $primary;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

h6 {
  font-size: 1.6rem;
  color: $light-gray;
}

p {
  color: $light-gray;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}
