@import './reset';
@import './fonts';
@import './config';
@import './typography';

@import './components/nav';
@import './components/hero';
@import './components/about';
@import './components/portfolio';
@import './components/contact';
@import './components/footer';
